body {
    background: #060c0a;
    overflow-x: hidden;
    color: #F4EBD6;
    height: 100%;
}

.home1,
.home2,
.contact {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.name {
    font-family: 'Lobster', cursive;
}

.contact-head {
    font-family: 'Lobster', cursive;
    color: #060C0A;
}

.portfolio-head {
    font-family: 'Lobster', cursive;
    color: #F4EBD6;
}

.bgrow {
    background: url(./home2.svg) no-repeat;
    background-position: right;
    background-size: cover;
}

.contact-des {
    margin: 0px;
    color: #060C0A;
    white-space: pre-line;
}

.portfolio-des {
    margin: 0px;
    color: #F4EBD6;
    white-space: pre-line;
}

.contact-btn {
    border-radius: 8px;
    padding: 5px 40px;
    font-size: large;
    background: #005D64;
    color: #F4EBD6;
    border: none;
}

.portfolio-btn {
    border-radius: 8px;
    padding: 5px 40px;
    font-size: large;
    background: #F4EBD6;
    color: #005D64;
    border: none;
}

.submit-btn {
    border-radius: 8px;
    padding: 5px 40px;
    font-size: large;
    background: #F4EBD6;
    color: black;
    border: none;
}

.navbar {
    background: #F4EBD6;
}

input,
textarea {
    background: none !important;
    color: #F4EBD6 !important;
    border: 2px solid #F4EBD6 !important;
}


/* card styles */

.port-cards {
    color: #005D64;
    background: #F4EBD6;
    height: 12em;
    /* font-family: 'Lobster', cursive; */
}


/* link animation */

.cool-link-dark {
    display: inline-block;
    cursor: pointer;
    color: #060C0A;
    text-decoration: none;
}

.cool-link-dark::after {
    content: '';
    display: block;
    width: 40%;
    height: 5px;
    background: #000;
    transition: width .3s;
}

.cool-link-dark:hover::after {
    width: 100%;
    transition: width .3s;
}

.cool-link-nav {
    display: inline-block;
    cursor: pointer;
    margin: 0px 10px;
    color: #060C0A;
    text-decoration: none;
}

.cool-link-nav::after {
    content: '';
    display: block;
    width: 40%;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.cool-link-nav:hover::after {
    width: 100%;
    transition: width .3s;
}

.cool-link-light {
    display: inline-block;
    cursor: pointer;
    color: #F4EBD6;
    text-decoration: none;
}

.cool-link-light::after {
    content: '';
    display: block;
    width: 40%;
    height: 5px;
    background: #F4EBD6;
    transition: width .3s;
}

.cool-link-light:hover::after {
    width: 100%;
    transition: width .3s;
}


/* ....... */

.arrow-down {
    position: absolute;
    z-index: 999;
    bottom: 5em;
    left: 50%;
    cursor: pointer;
    color: #F4EBD6;
    animation: arrowmove 1s infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes arrowmove {
    from {
        bottom: 5em;
    }
    to {
        bottom: 3em;
    }
}

.arrow-down>img {
    font-size: 24px;
    height: 3em;
    width: 3em;
}

.resume-btn {
    display: inline-block;
    width: 180px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    background: #F4EBD6;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    border-radius: 8px;
    border: none;
    transition: all .35s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.resume-btn:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F4EBD6;
    border-radius: 8px;
    z-index: -2;
}

.resume-btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #005D64;
    transition: all 0.3s;
    border-radius: 8px;
    z-index: -1;
}

.resume-btn:hover {
    color: #fff;
}

.resume-btn:hover:before {
    width: 100%;
}


/* ................................................. */

.arrow-left {
    display: flex;
    cursor: pointer;
    color: #F4EBD6;
}

.arrow-left>img {
    /* font-size: 20px; */
    align-self: center;
    height: 2em;
    width: 2em;
    margin-bottom: 1rem;
}


/* ................................................. */

* {
    box-sizing: border-box;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 26%;
    float: left;
    position: relative;
    align-items: flex-end;
    transition: 0.4s ease-out;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.568);
}

.grid-item>img {
    max-width: 100%;
    height: auto;
}

.grid-item:hover {
    transform: translateY(5px);
}

.grid-item:hover img {
    opacity: 0.5;
}

.grid-item:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.grid-item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}

.grid-item .info {
    position: absolute;
    width: 100%;
    z-index: 3;
    opacity: 0;
    text-align: center;
    top: 45%;
    align-self: center;
    transform: translateY(30px);
    transition: 0.5s;
}

.grid-item .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin: 5px 15px;
}


/* Card buttons */

.info-link {
    display: inline-block;
    width: 120px;
    height: 30px;
    /* line-height: 40px; */
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
    background: #F4EBD6;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    border-radius: 8px;
    border: none;
    transition: all .35s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.info-link:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F4EBD6;
    border-radius: 8px;
    z-index: -2;
}

.info-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #005D64;
    transition: all 0.3s;
    border-radius: 8px;
    z-index: -1;
}

.info-link:hover {
    color: #fff;
}

.info-link:hover:before {
    width: 100%;
}